{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bengalathon</title>
    <link rel="stylesheet" href="{% static 'main/css/login.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/materialize.min.css' %}">
    <script src="{% static 'main/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'main/js/materialize.min.js' %}"></script>
</head>

<body>
    <div class="main-container">
        <div class="row heading">
            <div class="col s12">
                <center>
                    <span style="font-family: 'Roboto Slab', serif;">
                        <h3> Know what is best for your organization!</h3>
                    </span>
                </center>
            </div>
        </div>

        <div class="login-container" id="login">

            <div class="row">

                <div class="col s12 form-title">
                    <center> <span class="form-title"> Login to portal </span></center>
                </div>

                <form class="col s12" method="post" action="{% url 'company_login' %}">
                    {% csrf_token %}
                    <span class="error-msg"> {{ errors }} </span>
                    <div class="row">
                        <div class="input-field col s12">
                            <input type="text" name="username" id="username" class="validate" required>
                            <label for="username"> Enter your username</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <input type="password" id="password" name="password" class="validate" required>
                            <label for="password">Enter your password</label>
                        </div>
                    </div>

                    <div class="row">
                        <center>
                            <div class="input-field col s12 login-button">
                                <button class="btn waves-effect waves-light white" type="submit" name="login">
                                    Login
                                </button>
                            </div>
                            <div class="check_mark">
                                <div class="sa-icon sa-success animate hide">
                                    <span class="sa-line sa-tip animateSuccessTip"></span>
                                    <span class="sa-line sa-long animateSuccessLong"></span>
                                    <div class="sa-placeholder"></div>
                                    <div class="sa-fix"></div>
                                </div>
                            </div>
                        </center>
                    </div>

                    <div class="row redirect-text">
                        <a href="{% url 'company_register' %}" class="black-text"> CREATE ACCOUNT </span>
                    </div>
                </form>

            </div>
        </div>
    </div>

</body>
</html>
