{% extends 'main/base.html' %}
{% load static %}
{% block body %}
<style>
    .formA {
            margin-top: 15px;
        }
    </style>
</head>

<body>
    <nav>
        <div class="nav-wrapper">
            <div class="title-container">
                <span class="brand-logo center txt anim-text-flow">BENGALATHON</span>
            </div>
            <ul id="nav-mobile" class="right">
                <li><a href="/" id="home-link-lg">Home</a></li>
                <li><a class="dropdown-trigger" href="#" data-target="user-dropdown"><i class="material-icons">
                            account_circle </i></a></li>
            </ul>
        </div>
    </nav>

    <ul id="user-dropdown" class="dropdown-content">
        <li><a href="{% url 'index' %}" class="active">Home</a></li>
        <li><a href="{% url 'company_logout' %}">Logout</a></li>
    </ul>

    <div id="particles-js"></div>

    <div class="row container formA">
        <form class="col s12" method="POST" id="edit_form" action="" onsubmit="return checkEditForm(this)">
            {% csrf_token %}
            <div class="row">
                <h5>Form-A</h5>
            </div>
            <div class="row">
                <div class="input-field col s12 l6">
                    <input type="text" name="name" class="validate" id="name" required>
                    <label for="name">Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 l6">
                    <span>Birthdate</span>
                    <input type="date" name="dob" id="dob" required>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 l6">
                    <input type="number" name="age" min="1" max="100" id="age" required>
                    <label for="age">Age</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 l6">
                    <input type="number" name="no_children" min="0" max="10" id="no_children" required>
                    <label for="no_children">Number of kids</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 l6">
                    <input type="number" name="no_children_drive" min="0" max="10" id="no_children_drive" required>
                    <label for="no_children_drive">How many of your kids drive</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 l6">
                    <input type="number" name="income" id="income" min="0">
                    <label for="income">Income(in INR)</label>
                </div>
            </div>
            <div class="row">
                <span> Are parents alive?</span>
                <p><label> <input type="radio" name="parents_alive" value="Yes" id="parents_alive_true" required/> <span>Yes</span>
                    </label></p>
                <p><label> <input type="radio" name="parents_alive" value="No" id="parents_alive_false" required/> <span>No</span>
                    </label></p>
            </div>
            <div class="row">
                <div class="input-field col s12 l6">
                    <input type="number" name="home_estimate" id="home_estimate" min="0" required>
                    <label for="home_estimate">Value of home(in INR)</label>
                </div>
            </div>
            <div class="row">
                <span> Marital Status</span>
                <p><label> <input type="radio" name="marriage_status" value="Yes" id="Married" required/> <span>Married</span>
                    </label></p>
                <p><label> <input type="radio" name="marriage_status" value="No" id="Unmarried" required/> <span>Unmarried</span>
                    </label></p>
            </div>
            <div class="row">
                <span>Gender</span>
                <p><label> <input type="radio" name="gender" value="Yes" id="Male" required/> <span>Male</span> </label></p>
                <p><label> <input type="radio" name="gender" value="No" id="Female" required/> <span>Female</span> </label></p>
            </div>
            <div class="row">
                <span>Education</span>
                <p><label> <input type="radio" name="education" value="Less than High School" id="before_high_school" required/>
                        <span>Less than High School</span> </label></p>
                <p><label> <input type="radio" name="education" value="High School" id="high_school" required/> <span>High
                            School</span> </label></p>
                <p><label> <input type="radio" name="education" value="Bachelors" id="bachelors" required/> <span>Bachelors</span>
                    </label></p>
                <p><label> <input type="radio" name="education" value="Masters" id="masters" required/> <span>Masters</span>
                    </label></p>
                <p><label> <input type="radio" name="education" value="PhD" id="phd" required/> <span>PhD</span> </label></p>
            </div>
            <div class="row">
                <span>Occupation</span>
                <p><label> <input type="radio" name="occupation" value="Manager" id="manager" required/> <span>Manager</span>
                    </label></p>
                <p><label> <input type="radio" name="occupation" value="Doctor" id="doctor" required/> <span>Doctor</span>
                    </label></p>
                <p><label> <input type="radio" name="occupation" value="Student" id="student" required/> <span>Student</span>
                    </label></p>
                <p><label> <input type="radio" name="occupation" value="Blue Collar" id="blue_collar" required/> <span>Blue
                            Collar</span> </label></p>
                <p><label> <input type="radio" name="occupation" value="Lawyer" id="lawyer" required/> <span>Lawyer</span>
                    </label></p>
                <p><label> <input type="radio" name="occupation" value="Clerical" id="clerical" required/> <span>Clerical</span>
                    </label></p>
                <p><label> <input type="radio" name="occupation" value="Professional" id="professional" required/> <span>Professional</span>
                    </label></p>
                <p><label> <input type="radio" name="occupation" value="Home" id="home" required/> <span>Home Maker</span> </label></p>
            </div>
            <div class="row">
                <div class="input-field col s12 l6">
                    <input type="number" name="avg_travel_time" id="avg_travel_time" min="0" required>
                    <label for="avg_travel_time">Average Travel Time (in min)</label>
                </div>
            </div>
            <div class="row">
                <span> Use of Car</span>
                <p><label> <input type="radio" name="car_use" value="Yes" id="Commercial" required/> <span>Commercial</span>
                    </label></p>
                <p><label> <input type="radio" name="car_use" value="No" id="Private" required/> <span>Private</span>
                    </label></p>
            </div>
            <div class="row">
                <span>Type of car</span>
                <p><label> <input type="radio" name="car_type" value="Van" id="van" required/> <span>Van</span> </label></p>
                <p><label> <input type="radio" name="car_type" value="Panel Truck" id="panel_truck" required/> <span>Panel
                            Truck</span> </label></p>
                <p><label> <input type="radio" name="car_type" value="Minivan" id="minivan" required/> <span>Minivan</span>
                    </label></p>
                <p><label> <input type="radio" name="car_type" value="Sports" id="sports" required/> <span>Sports</span>
                    </label></p>
                <p><label> <input type="radio" name="car_type" value="SUV" id="suv" required/> <span>SUV</span> </label></p>
                <p><label> <input type="radio" name="car_type" value="Pickup" id="pickup" required/> <span>Pickup</span>
                    </label></p>
            </div>
            <div class="row">
                <span>Is your car red in color</span>
                <p><label> <input type="radio" name="car_color_red" value="Yes" id="red" required/> <span>Yes</span> </label></p>
                <p><label> <input type="radio" name="car_color_red" value="No" id="not_red" required/> <span>No</span> </label></p>
            </div>
            <div class="row">
                <div class="input-field col s12 l6">
                    <input type="number" name="car_age" id="car_age" min="0" required>
                    <label for="car_age">What is the age of car(in years)</label>
                </div>
            </div>
            <div class="row">
                <span>Urbanicity</span>
                <p><label> <input type="radio" name="urbanicity" value="Yes" id="Urban" required/> <span>Urban</span> </label></p>
                <p><label> <input type="radio" name="urbanicity" value="No" id="Rural" required/> <span>Rural</span> </label></p>
            </div>
            <div class="row">
                <div class="input-field col s12 l6">
                    <input type="number" name="insured_value" id="insured_value" min="0" required>
                    <label for="insured_value">Insured declared value</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 l6">
                    <input type="number" name="prev_insurance_amt" id="prev_insurance_amt" min="0" required>
                    <label for="prev_insurance_amt">Claim amount from previous insurance</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 l6">
                    <input type="number" name="prev_insurance_no" id="prev_insurance_no" min="0" required>
                    <label for="prev_insurance_no">No. of times insurance claimed from previous company</label>
                </div>
            </div>
            <div class="row">
                <span>Was the previous claim revoked</span>
                <p><label> <input type="radio" name="prev_claim_revoked" value="Yes" id="revoked" required/> <span>Yes</span> </label></p>
                <p><label> <input type="radio" name="prev_claim_revoked" value="No" id="not_revoked" required/> <span>No</span> </label></p>
            </div>
            <div class="row">
                <div class="col s12 l6">
                    <center><button class="btn waves-effect waves-light" type="submit" name="action">Save details
                            <i class="material-icons right">send</i>
                        </button></center>
                </div>
            </div>
        </form>
    </div>
    <script src="{% static 'main/js/particles.js' %}"></script>
    <script src="{% static 'main/js/app.js' %}"></script>
</body>
<script>
    $(document).ready(() => {
        $('.dropdown-trigger').dropdown();
        let customer_data = {{customer|safe}}[0];
        let customer_fields = customer_data['fields'];
        // console.log(customer_fields);
        let marriage_status = customer_fields['marriage_status'];
        let gender = customer_fields['gender'];
        let car = customer_fields['car_use'];
        let urbanicity = customer_fields['urbanicity'];
        let education = customer_fields['education'].toLowerCase();
        let occupation = customer_fields['occupation'].toLowerCase();
        let car_type = customer_fields['car_type'].toLowerCase();
        let car_color = customer_fields['car_color_red'];
        let pk = customer_data['pk'];
        let prev_claim_revoked = customer_fields['prev_claim_revoked'];
        let prev_insurance_amt = customer_fields['prev_insurance_amt'];
        let prev_insurance_no = customer_fields['prev_insurance_no'];
        let insured_value = customer_fields['insured_value'];

        $('#edit_form')[0].action = '/customer/edit/' + pk + '/';

        $('#name')[0].value = customer_fields['name'];
        $('#dob')[0].value = customer_fields['dob'];
        $('#age')[0].value = customer_fields['age'];
        $('#no_children')[0].value = customer_fields['no_children'];
        $('#no_children_drive')[0].value = customer_fields['no_children_drive'];
        $('#income')[0].value = customer_fields['income'];
        $('#home_estimate')[0].value = customer_fields['home_estimate'];
        $('#avg_travel_time')[0].value = customer_fields['avg_travel_time'];
        $('#car_age')[0].value = customer_fields['car_age'];
        $('#insured_value')[0].value = insured_value;
        $('#prev_insurance_amt')[0].value = prev_insurance_amt;
        $('#prev_insurance_no')[0].value = prev_insurance_no;

        if(marriage_status == 'Yes') {
            $('#Married')[0].checked = 'true';
        }
        else {
            $('#Unmarried')[0].checked = 'true';
        }
        if(gender == 'Yes') {
            $('#Male')[0].checked = 'true';
        }
        else {
            $('#Female')[0].checked = 'true';
        }
        if(car == 'Yes') {
            $('#Commercial')[0].checked = 'true';
        }
        else {
            $('#Private')[0].checked = 'true';
        }
        if(urbanicity == 'Yes') {
            $('#Urban')[0].checked = 'true';
        }
        else {
            $('#Rural')[0].checked = 'true';
        }

        if (customer_fields['parents_alive'] == "Yes") {
            $('#parents_alive_true')[0].checked = 'true';
        } else if(customer_fields['parents_alive'] == "No") {
            $('#parents_alive_false')[0].checked = 'true';
        }

        // console.log(education);

        if (education == "less than high school") {
            $('#before_high_school')[0].checked = true;
        } else if (education == 'high school') {
            $('#high_school')[0].checked = true;
        } else {
            $('#' + education)[0].checked = true;
        }

        if (occupation == 'blue collar') {
            $('#blue_collar')[0].checked = true;
        } else {
            $('#' + occupation)[0].checked = true;
        }

        if (car_type == 'panel truck') {
            $('#panel_truck')[0].checked = true;
        } else {
            $('#' + car_type)[0].checked = true;
        }

        if (car_color == "Yes") {
            $('#red')[0].checked = true;
        } else if(car_color == "No") {
            $('#not_red')[0].checked = true;
        }

        if (prev_claim_revoked == "Yes") {
            $('#revoked')[0].checked = true;
        } else if(prev_claim_revoked == "No") {
            $('#not_revoked')[0].checked = true;
        }

        let labels = document.querySelectorAll('label');
        labels.forEach( label => {
            label.className += ' active';
        });

        function checkEditForm(form) {
            if(form.no_children_drive.value > form.no_children) {
                alert('No of children driving is more than total no of children');
                return false;
            }
            var today = new Date();
            var birthDate = new Date(form.dob.value);
            var age = today.getFullYear() - birthDate.getFullYear();
            var m = today.getMonth() - birthDate.getMonth();
            if (m < 0 || (m === 0 && today.getDate() < birthDate.getDate())) {
                age--;
            }
            if( age != form.age.value) {
                alert('Enter correct age');
                return false;
            }
            return true;
        }

        $('.txt').html(function(i, html) {
            var chars = $.trim(html).split("");
            return '<span>' + chars.join('</span><span>') + '</span>';
        });
    });
</script>

{% endblock %}
